.service-card {
    background: white;
    padding: 1.25em; 
    margin-bottom: 1.25em; 
    border-radius: 0.625em;
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.2); 
    display: flex;
    flex-direction: column;
}

.service-card h3 {
    margin-top: 0;
    margin-bottom: 1.25em; 
    font-size: 1.125em; 
}

.service-details {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.625em; 
    margin-bottom: 1.25em; 
}

.service-details div p {
    margin: 0;
}

.service-actions {
    display: flex;
    justify-content: end;
    gap: 3rem;
}

.service-actions a {
    color: blue;
    text-decoration: none;
    cursor: pointer;
}

.service-actions-client {
    display: flex;
    justify-content: end;
    gap: 3rem; 
}

.service-actions-client a {
    color: blue;
    text-decoration: none;
    cursor: pointer;
    padding-top: 1rem; 
}

.service-actions-client a:hover {
    text-decoration: underline;
}

.service-actions a:hover {
    text-decoration: underline;
}

.service-card-client {
    width: 85%;
    margin-left: 5%;
    background: white;
    padding: 1.25em; 
    margin-bottom: 1.25em; 
    border-radius: 0.625em; 
    box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.2); 
    display: flex;
    flex-direction: column;
    margin-top: 1%; 
}

.custom-button {
    background-color: #475847;
    color: white;
    border: 0.125em solid #5B875B; 
    border-radius: 1.25em; 
    padding: 0.625em 1.25em; 
    font-size: 1em; 
    font-family: Arial, sans-serif;
    cursor: pointer;
    transition: background-color 0.3s, border 0.3s;
}

.custom-button:hover {
    background-color: #5B875B;
    border: 0.125em solid #475847; 
}

.comments-link {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    padding-top: 1%; 
}

.comments-link:hover {
    color: darkblue;
}
