.container {
  font-family: Arial, sans-serif;
  width: 75%;
  margin: 0 auto;
  padding: 1.25em; 
  background-color: #f9f9f9;
  border-radius: 0.5em; 
  box-shadow: 0 0 0.625em rgba(0, 0, 0, 0.1); 
  font-size: 1.25rem; 
}

.form-group {
  margin-bottom: 0.9375em; 
}

.form-group.horizontal {
  display: flex;
  align-items: center;
}

.radio-group {
  display: flex;
  gap: 1.25em; 
  margin-left: 2%;
}

.zone-group,
.frequency-group,
.date-group,
.rating-group {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.tipo {
  display: flex;
}

.date-group label {
  display: flex;
}

.date-inputs {
  display: flex;
  align-items: center;
  gap: 0.3125em; 
}

.zone-group label {
  display: flex;
}

.label {
  display: block;
  margin-bottom: 0.3125em; 
}

input[type="text"],
input[type="date"] {
  padding: 0.5em;
  border: 0.0625em solid #ccc; 
  border-radius: 0.25em; 
}

.zona {
  width: 60%;
}

.button-group {
  display: flex;
  justify-content: space-around;
}

.button-group button {
  width: 20%;
  border: none;
  border-radius: 0.25em; 
  background-color: #e0e0e0;
  cursor: pointer;
}

.button-group button.selected,
.button-group button:hover {
  background-color: #b0b0b0;
}

.star {
  display: flex;
  align-items: center;
  font-size: 2.75rem;
  cursor: pointer;
}

.star.selected {
  color: gold;
}

.rating-buttons {
  display: flex;
  justify-content: space-around;
}

.search-button {
  display: block;
  width: 9.375em; 
  padding: 0.625em; 
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 0.25em; 
  cursor: pointer;
  margin-left: auto;
}

.search-button:hover {
  background-color: #218838;
}
