.hero {
  position: relative;
  text-align: center;
  
}

.hero .hero-image {
  width: 100%;
  object-fit: cover; 
  object-position: center; 
  height: 800px;
}



.why-pataguarda {
  background-color: #f8f9fa;
  padding: 40px 20px;
  text-align: center;
  margin-top: 20px;
}
.parte1{
  display: flex;
  flex-direction: column;
  padding-left: 5%;

}
.parte1 h3{
  display: flex;
  align-items:flex-start;
  justify-content: left;
  margin-bottom: 2%;
  margin-top: 2%;

}

.reason1{
  display: flex;
  flex-direction: row;
}

.reason1 p{
  font-size: large;
  width: 35%;
  text-align: left; 
  margin-top: 2%;
}

.ayuda-icon{
  border-radius: 50%; 
  border: 2px solid #000; 
  overflow: hidden; 
}
.reason1 img{
  width: 10%;
  display: flex;
  justify-content: space-between;

  margin-right: 7%;
  margin-left: 7%
  
}


.reason2{
  display: flex;
  flex-direction: row;
}

.reason2 p{
  font-size: large;
  width: 35%;
  text-align: left; 
  margin-top: 2%;
}

.reason2 .ayuda-icon{
  border-radius: 50%; 
  border: 2px solid #000; 
  overflow: hidden; 
}
.reason2 img{
  width: 10%;
  display: flex;
  justify-content: space-between;

  margin-right: 7%;
  margin-left: 7%
  
}

.reason3{
  display: flex;
  flex-direction: row;
  margin-bottom: 2%;
}

.reason3 p{
  font-size: large;
  width: 35%;
  text-align: left; 
  margin-top: 2%;
}

.reason3 .ayuda-icon{
  border-radius: 50%; 
  border: 2px solid #000; 
  overflow: hidden; 
}
.reason3 img{
  width: 10%;
  display: flex;
  justify-content: space-between;

  margin-right: 7%;
  margin-left: 7%
  
}

.pata{
  
  width: 100%;
  background-image: url('../assets/images/vector.png');
  background-size: 100% 100%;
  
}
footer {
  z-index: -1; 
  
}
.contratar {
  position: relative;
  display: flex;
  justify-content: center;
  text-align: center;
 
}

.contratar img.inicio-pataguarda-child {
  width: 100%;
  height: auto;
}

.contratar .overlay-content {
  
  margin-top: 3%;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  
 
}





@media (max-width: 768px) {
  .reason1 {
    flex-direction: column;
    align-items: flex-start;
  }

  .reason1 p {
    width: 100%; 
  }
  .contratar .overlay-content {
    margin-top: 15%;
    width: 100%;
    
  }
  .reason2 {
    flex-direction: column;
    align-items: flex-start;
  }

  .reason2 p {
    width: 100%; 
  }
  .reason3 {
    flex-direction: column;
    align-items: flex-start;
  }

  .reason3 p {
    width: 100%; 
  }

 
}
