.foto-incio-icon {
    height: 511px;
    width: 1449px;
    position: absolute;
    margin: 0 !important;
    top: -29px;
    left: -111px;
    object-fit: cover;
  }
  .rectangulo-fondo {
    width: 1245px;
    height: 459px;
    position: relative;
    border-radius: var(--br-11xl);
    background-color: var(--color-gainsboro-200);
    display: none;
    max-width: 100%;
  }
  .estoy-buscando-servicio {
    position: relative;
    font-weight: 600;
    z-index: 1;
  }
  .service-prompt {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-6xs-1);
  }
  .que-tipo-de {
    position: relative;
    font-weight: 600;
    z-index: 1;
  }
  .paseos {
    height: 55px;
    width: 346px;
    position: relative;
    border-radius: var(--br-8xs);
    background-color: var(--color-gainsboro-100);
    border: 1.5px solid var(--color-gray-100);
    box-sizing: border-box;
    display: none;
    max-width: 100%;
  }
  .paseos1 {
    position: relative;
    letter-spacing: 0.2em;
    font-weight: 500;
    display: inline-block;
    min-width: 122px;
    z-index: 1;
  }
  .boton-paseos,
  .service-type {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .boton-paseos {
    width: 346px;
    border-radius: var(--br-8xs);
    background-color: var(--color-gainsboro-100);
    border: 1.5px solid var(--color-gray-100);
    box-sizing: border-box;
    flex-direction: row;
    padding: var(--padding-3xs) var(--padding-83xl) var(--padding-4xs);
    z-index: 1;
    color: var(--color-darkslategray-100);
  }
  .service-type {
    flex-direction: column;
    gap: var(--gap-xs);
  }
  .en-que-zona {
    position: relative;
    font-weight: 600;
    z-index: 1;
  }
  .location-input {
    align-self: stretch;
    flex: 1;
    position: relative;
    border-radius: var(--br-4xs);
    background-color: var(--color-gainsboro-100);
    border: 1.5px solid var(--color-gray-100);
    z-index: 1;
  }
  .location {
    width: 281px;
    height: 95px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 0 var(--padding-8xs);
    box-sizing: border-box;
    gap: var(--gap-9xs);
  }
  .para-que-fecha {
    position: relative;
    font-weight: 600;
    z-index: 1;
  }
  .search-prompt {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-xs);
    min-width: 415px;
    max-width: 100%;
  }
  .gato,
  .pet-icon-shapes {
    position: relative;
    z-index: 1;
  }
  .pet-icon-shapes {
    height: 32.2px;
    width: 29px;
    border-radius: 50%;
    background-color: var(--color-silver);
  }
  .gato {
    text-decoration: none;
    font-weight: 500;
    color: inherit;
    display: inline-block;
    min-width: 60px;
  }
  .pet-options {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-7xs);
  }
  .perro,
  .pet-options-child {
    position: relative;
    z-index: 1;
  }
  .pet-options-child {
    height: 32.2px;
    width: 29px;
    border-radius: 50%;
    background-color: var(--color-silver);
  }
  .perro {
    text-decoration: none;
    font-weight: 500;
    color: inherit;
    display: inline-block;
    min-width: 67px;
  }
  .pet-icons,
  .pet-options1,
  .pet-selection {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .pet-options1 {
    align-items: flex-end;
    gap: var(--gap-7xs);
  }
  .pet-icons,
  .pet-selection {
    align-items: flex-start;
  }
  .pet-selection {
    gap: var(--gap-9xl);
  }
  .pet-icons {
    padding: 0 var(--padding-2xl);
  }
  .adiestramiento1 {
    height: 55px;
    width: 346px;
    position: relative;
    border-radius: var(--br-8xs);
    background-color: var(--color-gainsboro-100);
    border: 1.5px solid var(--color-gray-100);
    box-sizing: border-box;
    display: none;
    max-width: 100%;
  }
  .adiestramientos {
    position: relative;
    letter-spacing: 0.2em;
    font-weight: 500;
    z-index: 1;
  }
  .boton-adiestramiento,
  .boton-cuidado-child {
    border-radius: var(--br-8xs);
    background-color: var(--color-gainsboro-100);
    border: 1.5px solid var(--color-gray-100);
    box-sizing: border-box;
    max-width: 100%;
  }
  .boton-adiestramiento {
    flex: 0.8532;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) var(--padding-11xl) var(--padding-4xs)
      var(--padding-15xl);
    min-width: 225px;
    z-index: 1;
  }
  .boton-cuidado-child {
    height: 55px;
    width: 346px;
    position: relative;
    display: none;
  }
  .cuidado-domestico1 {
    position: relative;
    letter-spacing: 0.2em;
    font-weight: 500;
    z-index: 1;
  }
  .boton-cuidado,
  .category-buttons {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 100%;
  }
  .boton-cuidado {
    flex: 1;
    border-radius: var(--br-8xs);
    background-color: var(--color-gainsboro-100);
    border: 1.5px solid var(--color-gray-100);
    box-sizing: border-box;
    padding: var(--padding-3xs) var(--padding-7xs) var(--padding-4xs)
      var(--padding-3xs);
    min-width: 225px;
    white-space: nowrap;
    z-index: 1;
  }
  .category-buttons {
    align-self: stretch;
    gap: var(--gap-52xl);
    color: var(--color-darkslategray-100);
  }
  .con-que-frecuencia {
    position: relative;
    font-weight: 600;
    z-index: 1;
  }
  .rectangle-div {
    height: 55px;
    width: 170px;
    position: relative;
    border-radius: var(--br-8xs);
    background-color: var(--color-gainsboro-100);
    border: 1.5px solid var(--color-gray-100);
    box-sizing: border-box;
    display: none;
  }
  .unica {
    position: relative;
    letter-spacing: 0.2em;
    font-weight: 500;
    display: inline-block;
    min-width: 97px;
    z-index: 1;
  }
  .daily-selection-child,
  .rectangle-parent {
    border-radius: var(--br-8xs);
    background-color: var(--color-gainsboro-100);
    border: 1.5px solid var(--color-gray-100);
    box-sizing: border-box;
  }
  .rectangle-parent {
    flex: 0.5697;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) var(--padding-17xl) var(--padding-4xs)
      var(--padding-18xl);
    min-width: 143px;
    max-width: 170px;
    z-index: 1;
  }
  .daily-selection-child {
    height: 55px;
    width: 170px;
    position: relative;
    display: none;
  }
  .diaria {
    position: relative;
    letter-spacing: 0.2em;
    font-weight: 500;
    display: inline-block;
    min-width: 103px;
    z-index: 2;
  }
  .daily-option,
  .daily-selection {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .daily-selection {
    align-self: stretch;
    border-radius: var(--br-8xs);
    background-color: var(--color-gainsboro-100);
    border: 1.5px solid var(--color-gray-100);
    flex-direction: row;
    padding: var(--padding-3xs) var(--padding-10xl) var(--padding-4xs)
      var(--padding-15xl);
    z-index: 1;
  }
  .daily-option {
    flex: 1;
    flex-direction: column;
    padding: 0 var(--padding-8xs) 0 0;
    box-sizing: border-box;
    min-width: 131px;
    max-width: 175px;
  }
  .frequency-values-child {
    height: 55px;
    width: 170px;
    position: relative;
    border-radius: var(--br-8xs);
    background-color: var(--color-gainsboro-100);
    border: 1.5px solid var(--color-gray-100);
    box-sizing: border-box;
    display: none;
  }
  .semanal {
    position: relative;
    letter-spacing: 0.2em;
    font-weight: 500;
    z-index: 2;
  }
  .frequency-values,
  .frequency-values-item {
    border-radius: var(--br-8xs);
    background-color: var(--color-gainsboro-100);
    border: 1.5px solid var(--color-gray-100);
    box-sizing: border-box;
  }
  .frequency-values {
    flex: 0.8727;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) var(--padding-2xs) var(--padding-4xs)
      var(--padding-xs);
    min-width: 143px;
    max-width: 170px;
    z-index: 1;
  }
  .frequency-values-item {
    height: 55px;
    width: 170px;
    position: relative;
    display: none;
  }
  .mensual {
    position: relative;
    letter-spacing: 0.2em;
    font-weight: 500;
    z-index: 2;
  }
  .frequency-selection,
  .frequency-values1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .frequency-values1 {
    flex: 0.8667;
    border-radius: var(--br-8xs);
    background-color: var(--color-gainsboro-100);
    border: 1.5px solid var(--color-gray-100);
    box-sizing: border-box;
    justify-content: flex-start;
    padding: var(--padding-3xs) var(--padding-6xs) var(--padding-4xs)
      var(--padding-mid);
    min-width: 143px;
    max-width: 170px;
    z-index: 1;
    color: var(--color-dimgray);
  }
  .frequency-selection {
    align-self: stretch;
    justify-content: center;
    gap: var(--gap-5xl);
    color: var(--color-darkslategray-100);
  }
  .frequency,
  .frequency-options {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .frequency-options {
    flex: 1;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-9xs);
  }
  .frequency {
    align-self: stretch;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 var(--padding-11xs) var(--padding-8xs) var(--padding-10xs);
    box-sizing: border-box;
  }
  .que-calificacion-buscabas {
    position: relative;
    font-weight: 600;
    z-index: 1;
  }
  .rating {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 var(--padding-49xl);
    box-sizing: border-box;
    max-width: 100%;
  }
  .pet-type,
  .search-input,
  .service-category {
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
  }
  .service-category {
    align-self: stretch;
    flex-direction: column;
    align-items: flex-end;
    gap: var(--gap-xs);
  }
  .pet-type,
  .search-input {
    align-items: flex-start;
  }
  .pet-type {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-39xl-6);
    min-width: 496px;
  }
  .search-input {
    width: 1181px;
    flex-direction: row;
    gap: var(--gap-10xs);
  }
  .rating-star-shapes {
    height: 55px;
    flex: 1;
    position: relative;
    border-radius: var(--br-4xs);
    background-color: var(--color-gainsboro-100);
    border: 1.5px solid var(--color-gray-100);
    box-sizing: border-box;
    min-width: 146px;
    z-index: 1;
  }
  .arrow-icon {
    align-self: stretch;
    height: 14.7px;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    z-index: 1;
  }
  .rating-stars-inner {
    width: 64px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 0 var(--padding-sm-3);
    box-sizing: border-box;
  }
  .rating-star-shapes1 {
    height: 55px;
    flex: 1;
    position: relative;
    border-radius: var(--br-4xs);
    background-color: var(--color-gainsboro-100);
    border: 1.5px solid var(--color-gray-100);
    box-sizing: border-box;
    min-width: 146px;
    z-index: 1;
  }
  .rating-stars {
    width: 538px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-xs);
    max-width: 100%;
  }
  .two-star-shapes,
  .two-star-shapes1 {
    height: 48px;
    width: 48px;
    position: relative;
    z-index: 1;
  }
  .three-star-icons,
  .three-star-icons1,
  .three-star-icons2 {
    height: 48px;
    width: 48px;
    position: relative;
    min-height: 48px;
    z-index: 1;
  }
  .three-star-shapes {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-9xl);
  }
  .buscar {
    height: 100%;
    width: 100%;
    position: absolute;
    margin: 0 !important;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: var(--br-29xl-5);
    background-color: var(--color-darkslategray);
  }
  .buscar1,
  .vector-icon {
    position: relative;
    z-index: 1;
  }
  .buscar1 {
    height: 39.3px;
    width: 200px;
    letter-spacing: 0.5em;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }
  .vector-icon {
    width: 15.6px;
    height: 19px;
  }
  .search-icon {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 0 var(--padding-3xs-6);
    margin-left: -8.2px;
  }
  .boton-buscar,
  .search-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .boton-buscar {
    flex: 1;
    align-items: flex-end;
    padding: var(--padding-base-3) var(--padding-5xl) var(--padding-base-4);
    position: relative;
    z-index: 1;
  }
  .search-button {
    align-self: stretch;
    align-items: flex-start;
    padding: 0 0 0 var(--padding-sm);
  }
  .three-star-rating {
    flex: 1;
    flex-direction: column;
    gap: var(--gap-smi);
    min-width: 181px;
  }
  .star-rating,
  .three-star-rating,
  .two-star-rating {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .two-star-rating {
    align-self: stretch;
    flex-direction: row;
    gap: var(--gap-9xl);
  }
  .star-rating {
    width: 430px;
    flex-direction: column;
    padding: var(--padding-6xs) 0 0;
    box-sizing: border-box;
    min-width: 430px;
    max-width: 100%;
  }
  .rating-filter {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    gap: var(--gap-xl);
    font-size: var(--font-size-xl);
    color: var(--color-gray-200);
  }
  .buscador,
  .rating-filter,
  .search-criteria,
  .search-filter {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .buscador {
    flex: 1;
    border-radius: var(--br-11xl);
    background-color: var(--color-gainsboro-200);
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-6xs-9) var(--padding-5xs) var(--padding-3xs)
      var(--padding-16xl);
    box-sizing: border-box;
    gap: var(--gap-9xs);
    z-index: 1;
  }
  .search-criteria,
  .search-filter {
    flex-direction: row;
  }
  .search-criteria {
    flex: 1;
    justify-content: flex-start;
    position: relative;
  }
  .search-filter {
    width: 1271px;
    justify-content: flex-end;
    padding: 0 var(--padding-smi);
    box-sizing: border-box;
    text-align: center;
    font-size: var(--font-size-7xl);
    color: var(--color-black);
    font-family: var(--font-inter);
  }
  @media screen and (max-width: 1250px) {
    .star-rating {
      flex: 1;
    }
    .rating-filter {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 1100px) {
    .pet-selection,
    .search-prompt {
      flex: 1;
    }
    .search-input {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 750px) {
    .search-prompt {
      min-width: 100%;
    }
    .category-buttons {
      flex-wrap: wrap;
      gap: var(--gap-16xl);
    }
    .frequency-selection {
      flex-wrap: wrap;
    }
    .rating {
      padding-left: var(--padding-15xl);
      padding-right: var(--padding-15xl);
      box-sizing: border-box;
    }
    .pet-type {
      min-width: 100%;
    }
    .rating-stars,
    .two-star-rating {
      flex-wrap: wrap;
    }
    .star-rating {
      min-width: 100%;
    }
  }
  @media screen and (max-width: 450px) {
    .estoy-buscando-servicio,
    .paseos1,
    .que-tipo-de {
      font-size: var(--font-size-2xl);
    }
    .boton-paseos {
      padding-left: var(--padding-xl);
      padding-right: var(--padding-xl);
      box-sizing: border-box;
    }
    .en-que-zona,
    .gato,
    .para-que-fecha,
    .perro {
      font-size: var(--font-size-2xl);
    }
    .pet-selection {
      flex-wrap: wrap;
    }
    .adiestramientos {
      font-size: var(--font-size-2xl);
    }
    .boton-adiestramiento {
      flex: 1;
    }
    .category-buttons {
      gap: var(--gap-lg);
    }
    .con-que-frecuencia,
    .unica {
      font-size: var(--font-size-2xl);
    }
    .rectangle-parent {
      flex: 1;
    }
    .diaria,
    .semanal {
      font-size: var(--font-size-2xl);
    }
    .frequency-values {
      flex: 1;
    }
    .mensual {
      font-size: var(--font-size-2xl);
    }
    .frequency-values1 {
      flex: 1;
    }
    .que-calificacion-buscabas {
      font-size: var(--font-size-2xl);
    }
    .pet-type {
      gap: var(--gap-10xl);
    }
    .buscar1 {
      font-size: var(--font-size-base);
    }
}