/* src/components/UserHistory/UserHistory.css */

.user-history {
    padding: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%; /* Ocupa todo el ancho del contenedor disponible */
    margin-top: 20px;
  }
  
  .user-history h2 {
    margin-bottom: 20px;
    color: #000000; /* Color del texto */
  }
  
  .user-history table {
    width: 100%; /* Tabla ocupando todo el ancho del contenedor */
    border-collapse: collapse;
  }
  
  .user-history table th,
  .user-history table td {
    border: 1px solid #ddd;
    padding: 8px;
    color: #000000; /* Color del texto */
  }
  
  .user-history table th {
    background-color: #f2f2f2;
    text-align: left;
  }
  
  