
.upload-photo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  flex-direction: column;
}

.upload-photo-circle {
  width: 150px; 
  height: 150px; 
  border-radius: 50%;
  background-color: #ffffff; 
  overflow: hidden; 
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.upload-photo {
  opacity: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  cursor: pointer;
}

.update-photo-text {
  font-size: 1em;
  margin-top: 10px;
  cursor: pointer;
  color: white;
}

.form-content{
  display: flex;
  gap: 20px;
}
.form-column1{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  width: 50%;
  margin: 3%
}
.form-column2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: start;
  width: 50%;
  margin: 3%
}
.form-column{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}


* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}


.form-section1{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8%;
  border-radius: 10px;
  margin-bottom: 40px;
  position: relative;
}
.form-section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 40px;
  
}
.form-section1 h1{
  width: 25%;
  display: flex;
  color: white;
  margin: 0;
  text-align: center;
  font-size: xxx-large;
  
}
.form-section1::before {
  content: '';
  position: absolute;
  
  width: 100%;
  height: 100%;
  background-image: url('../assets/images/vector.png');
  transform: rotate(180deg);
  z-index: -1; 
  background-size: 100% 100%;
}

.form-section h1 {
  font-size: 1.8em;
  margin: 0;
  text-align: left;
  color: white;
}

.registration-form {
  display: flex;
  flex-direction: column;
  font-size: large;
  background-color:#4D6155 ;
  padding: 1%;
  margin-left: 8%;
  width: 45%;
  border-radius: 10px;
  align-items: center;
}
.registration-form label{
  color: white;
}

.registration-form input,
.registration-form button {
  width: 80%;
  max-width: 400px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.registration-form button {
  background-color: #4caf50;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 1em;
}

.registration-form button:hover {
  background-color: #45a049;
}

.upload-photo {
  margin-top: 10px;
}

.intro {
  margin: 20px 0;
}

.intro-content {
  display: flex;
  flex-direction: row;
  
}

.intro-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size:xx-large;
  text-align: justify;
  font-weight: bold ;
  text-align: left;
  margin-left: 2%;
  margin-top: 8%;
 
}

.intro-image {
  width: 40%;
  margin: 20px;
  height: auto;
  border-radius: 10px;
  margin-right: 2%;
}

@media (min-width: 768px) {
  .intro-content {
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
  }

  .intro-text {
    flex: 1;
    text-align: left;
  }

  .intro-image {
    max-width: 50%;
  }
}

.benefits {
  margin-top: 40px;
}

.benefits h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: xx-large;
}

.benefits-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.benefit {
  
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 350px;
  text-align: center;

}

.benefit-icon {
  width: 50%;
  height: 100%;
  margin-bottom: 10px;
  border-radius: 50%;
  
}


.benefit h3 {
  font-size: 1.4em;
  margin-bottom: 10px;
}

.benefit p {
  margin: 5px 0;
  
}

@media (min-width: 768px) {
  .benefits-container {
    flex-direction: row;
    justify-content: space-around;
  }
}

