.edit-info-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 1.25em; 
  box-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.2); 
  border-radius: 0.5em; 
  z-index: 1000;
}

.edit-info-modal h2 {
  margin-bottom: 1.25em; 
}

.edit-info-modal form {
  display: flex;
  flex-direction: column;
}

.edit-info-modal label {
  margin-bottom: 0.625em; 
}

.edit-info-modal input,
.edit-info-modal select {
  padding: 0.625em; 
  margin-top: 0.3125em; 
  margin-bottom: 1.25em; 
  border: 0.0625em solid #ccc; 
  border-radius: 0.25em; 
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
}

.modal-buttons button {
  padding: 0.625em 1.25em; 
  margin-top: 0.625em; 
  border: none;
  border-radius: 0.25em; 
  cursor: pointer;
}

.modal-buttons button[type="submit"] {
  background-color: #007bff;
  color: white;
}

.modal-buttons button[type="button"] {
  background-color: #ccc;
}

.modal-buttons button:hover {
  opacity: 0.8;
}
