.user-info {
  background: #203629;
  padding: 2em; 
}

.user-details p {
  margin: 0.625em 0; 
  font-size: 1em;
}

.user-info button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.625em 1.25em; 
  border-radius: 0.25em; 
  cursor: pointer;
  margin-top: 0.625em; 
}

.user-info button:hover {
  background-color: #0056b3;
}
